/* https://coolors.co/dcb732-1c0221-948b89-726e75-0b7189 */

body {
	background-color: #F0F0F0;
	margin: 0%;
}

.inline-container {
	/*background-color: #DCB732;*/
	display: inline-block;
}

.background-container {
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 25px;
}

header {
	background-color: #050505;
	margin: auto;
	width: 100%;
	height: 40px;
}

h1 {
	color: #DF2935;
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	margin: 3px;
}

h2 {
	color: #505050;
	font-family: 'Roboto', sans-serif;
	font-size: 25pt;
}

h3 {
	color: #050505;
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	text-align: center;
}

h4 {
	color: #050505;
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
	text-align: left;
	font-weight: 300;
}

a {
	color: #1B5AFA;
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
	text-align: left;
	font-weight: 300;
}

a:hover {
	color: #DF2935;
}

nav {
	float: right;
	margin: 7px;
}

.container-title {
	margin-bottom: 0px;
}

.container-date {
	font-size: 16pt;
	font-weight: 300;
	padding: 0px;
	margin: 0px;
}

.container-author {
	font-size: 16pt;
	font-weight: 300;
	padding: 0px;
	margin: 0px;
}

.nav-button {
	color: #1B5AFA;
	margin-left: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list-header {
	/*color: #DF2935;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;*/
}

.disclaimer {
	font-size: 12pt;
}

.moderator {
	color: purple;
}

.republican {
	color: #e9141d;
}

.democrat {
	color: blue;
}

.independent {
	color: #fc03ad;
}

.libertarian {
	color: #DCB732;
}

.libertarian2 {
	color: #F08710;
}

.rwn-anchor {
	color: #DF2935
}

.rwn-guest {
	color: #1B5AFA;
}

.aye {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #050505;
}

.abstain {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color:#050505;
}

.not-present {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #050505;
}

.nay {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #050505;
}

.sub-container {
	border-left-style: solid;
	border-left-color: #DF2935;
	border-left-width: 7px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 25px;
}

.politician-overlay {
	font-weight: 300;
	opacity: 0;
	transition: 0.5s ease;
	background-color: rgba(0,0,0,0.3);
	padding-left: 5px;
	padding-right: 5px;
}

.politician {
	font-weight: 500;
}

.politician:hover .politician-overlay {
	opacity: 1;
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%;
	height: auto;
	border: 1px solid #ddd;
	border-radius: 4px;
}

img:hover {
	box-shadow: 0 0 2px 3px #DCB732;
}

.article-top-image {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media only screen and (max-width: 1480px) {
	nav {
		float: none;
	}
}

@media only screen and (max-width: 1280px) {
	nav {
		float: none;
	}
	
	/*h3 {
		font-size: 26pt;
	}
	
	h4 {
		font-size: 20pt;
	}
	
	a {
		font-size: 20pt;
	}
	
	.container-date {
		font-size: 20pt;
	}
	
	.disclaimer {
		font-size: 16pt;
	}*/
}

@media only screen and (max-width: 850px) {
	.inline-container {
		display: block;
	}
}

@media only screen and (max-width: 480px) {
	.nav-button {
		margin: 10px;
		display: list-item;
	}
	
	h1 {
		color: #505050;
		font-family: 'Roboto', sans-serif;
		font-size: 25pt;
	}
	
	h2 {
		color: #505050;
		font-family: 'Roboto', sans-serif;
		font-size: 18pt;
	}
	
	.background-container {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-left: 0%;
		margin-right: 0%;
		margin-bottom: 25px;
		word-break: break-word;
	}
}