/* https://coolors.co/dcb732-1c0221-948b89-726e75-0b7189 */

body {
	background-color: #E0E0E0;
}

.inline-container {
	/*background-color: #DCB732;*/
	display: inline-block;
}

.background-container {
	background-color: #505050;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -2%;
	margin-right: -2%;
	margin-bottom: 25px;
}

h1 {
	color: #505050;
	font-family: 'Roboto', sans-serif;
	font-size: 40pt;
}

h2 {
	color: #505050;
	font-family: 'Roboto', sans-serif;
	font-size: 25pt;
}

h3 {
	color: #DCB732;
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	text-align: center;
}

h4 {
	color: #E0E0E0;
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
	text-align: left;
	font-weight: 300;
}

a {
	color: #DCB732;
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
	text-align: left;
	font-weight: 300;
	display: inline-block;
}